Language: Cpp
BasedOnStyle: WebKit
Standard: Cpp11
TabWidth: 4
ColumnLimit: 90
SortIncludes: true
BreakBeforeBraces: Attach
PointerAlignment: Right
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true
ForEachMacros:
  [
    foreach,
    Q_FOREACH,
    BOOST_FOREACH,
    forever,
    Q_FOREVER,
    QBENCHMARK,
    QBENCHMARK_ONCE,
    wl_resource_for_each,
    wl_resource_for_each_safe
  ]
BraceWrapping:
  AfterClass: false
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowAllArgumentsOnNextLine: false
UseTab: Never
